*:is(::before, *, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f2f2f2;
}

.parent {
  position: fixed;
  width: 100%;
}

.navbar {
  height: 61px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffff;
}
.navbar > img {
  margin: 5px;
}
.navbar .logoside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.navbar .logoside > div {
  color: #555555;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
}
.navbar .logoside > div button {
  background-color: transparent;
  border: none;
}
.navbar .logoside > div button i {
  font-size: 13px;
  color: #555555;
}
.navbar .menuside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 13px;
}
.navbar .menuside button {
  background-color: transparent;
  border: 1px solid #d5d5d5;
  padding-block: 4px;
  padding-inline: 7px;
  color: #999999;
  font-size: 13px;
  border-radius: 2px;
}
.navbar .menuside button img {
  margin-right: 6px;
}
.navbar .menuside button span {
  display: inline-block;
  padding-left: 7px;
  margin-top: 1px;
  border-left: 1px solid #d5d5d5;
}
.navbar .menuside .thirdbtn {
  background-color: #009587;
  color: #ffffff;
  border: none;
}
.navbar .menuside .fourthbtn,
.navbar .menuside .fifthbtn,
.navbar .menuside .sixthbtn {
  border: none;
  color: #474747;
}
.navbar .menuside .firstbtn {
  color: #474747;
}
.navbar .menuside .sixthbtn {
  margin-right: 10px;
}

.search {
  height: 56px;
  padding-left: 25px;
  justify-content: flex-start;
}
.search p {
  display: inline;
  text-transform: capitalize;
  color: #555555;
  text-decoration: underline;
  font-size: 13px;
  margin: 9px 0px 0px 18px;
}
.search .searchchild {
  border: 1px solid #d5d5d5;
}
.search .searchchild input {
  height: 38px;
  width: 536px;
  border: none;
  padding: 8px 8px 8px 130px;
  font-size: 14px;
  color: #999999;
}
.search .searchchild input:focus {
  border: none;
  outline: 1px solid black;
}
.search .searchchild span {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  max-width: 160px;
  text-align: left;
  padding: 5px 25px 6px 10px;
  margin-right: -119px;
  margin-left: 5px;
  background-color: #009587;
  color: #fff;
  border-radius: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
  font-weight: 300;
}
.search .searchchild button {
  color: #ffffff;
  padding: 7px 25px;
  border: none;
  height: 40px;
  border: 1px solid #e3324a;
  background-color: #e3324a;
}
.search .searchchild2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  color: #008387;
  right: 10px;
  top: 50%;
  transform: translate(5%, -50%);
  height: 40px;
  aspect-ratio: 25/8;
  align-self: flex-end;
  border-radius: 9px;
  box-shadow: 0px 5px 8px #cdcdcd;
  margin-right: 10px;
}
.search .searchchild2 .list,
.search .searchchild2 .map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  width: calc(50% - 6px);
  font-size: 12px;
}
.search .searchchild2 .list {
  background-color: #008387;
  color: #ffffff;
  border-radius: 7px;
  padding: 8px 8px 8px 8px;
}
.search .searchchild2 .list div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.search .searchchild2 .list div img {
  margin-right: 5px;
  width: 17px;
}

.searchfilter {
  width: 360px;
  position: fixed;
  height: calc(100vh - 170px);
  bottom: 0%;
  left: 35px;
  background-color: #fff;
  top: 127px;
  overflow: hidden;
}
.searchfilter .floattitle {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #e3324a;
  padding: 0px 6px;
  margin: 0;
  font-size: 10px;
  z-index: 1;
  color: #ffffff;
  border-radius: 50vw;
}
.searchfilter button {
  width: 50%;
  position: relative;
  border: none;
  padding: 11px 0px;
  background-color: #ffffff;
  font-size: 15px;
  color: #464646;
}
.searchfilter button:first-child {
  border-bottom: 2px solid #009587;
}
.searchfilter .main {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 5px 10px 5px 15px;
}
.searchfilter .main .resetbtn {
  text-align: right;
  font-size: 12px;
  margin: 5px 10px 0px 0px;
}
.searchfilter .main .sizecontent {
  display: flex;
  row-gap: 10px;
  -moz-column-gap: 17px;
       column-gap: 17px;
  flex-wrap: wrap;
  flex-direction: row;
}
.searchfilter .main .sizecontent span {
  padding: 8px;
  margin: 7px 0px;
  background-color: #f8f8f8;
  font-size: 12px;
  text-align: center;
  width: calc((100% - 65px) / 4);
  border-radius: 3px;
}
.searchfilter .main .sizecontent span:hover {
  background-color: #009587;
  color: #ffffff;
}
.searchfilter .main .availabilitycontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
  row-gap: 8px;
}
.searchfilter .main .availabilitycontent input[type=radio] {
  width: 15px;
  height: 15px;
  accent-color: #009587;
}
.searchfilter .main .availabilitycontent .radiobtn {
  width: calc((100% - 65px) / 2);
}
.searchfilter .main .tenantcontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.searchfilter .main .tenantcontent .radiobtn {
  width: calc((100% - 20px) / 3);
}
.searchfilter .main .apartmentcontent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.searchfilter .main .furnishingcontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.searchfilter .main .furnishingcontent .radiobtn {
  width: calc((100% - 20px) / 3);
}
.searchfilter .main .parkingcontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.searchfilter .main .parkingcontent .radiobtn {
  min-width: calc((100% - 20px) / 2);
}

.radiobtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 7px;
}

label {
  font-size: 13px;
}

.titleheading {
  font-size: 12px;
  font-weight: 600;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  accent-color: #009587;
}

input[type=range] {
  accent-color: #009587;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #009587;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.result-parent {
  position: absolute;
  right: 0;
  z-index: -1;
  width: calc(100vw - 420px);
  height: 500vh;
  top: 127px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.result-parent .result {
  width: 720px;
  height: 100%;
  background-color: #f2f2f2;
}
.result-parent .result .result-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 2px;
}
.result-parent .result .result-child .directorypath {
  width: 720px;
  padding: 15px;
  background-color: #ffffff;
}
.result-parent .result .result-child .directorypath .pathchild {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
}
.result-parent .result .result-child .directorypath .pathchild .path {
  width: 60%;
  font-size: 13px;
}
.result-parent .result .result-child .directorypath .pathchild .sort select {
  padding: 9px;
  border-radius: 0px;
  margin-left: 6px;
  font-size: 13px;
}
.result-parent .result .result-child .directorypath .pathchild .sort select:is(:focus, :active) {
  border: 1px solid #d5d5d5;
}
.result-parent .result .result-child .directorypath .pathchild .sort select option {
  padding: 9px;
  font-size: 13px;
}
.result-parent .result .result-child .directorypath .pathchild span {
  margin-top: 15px;
}
.result-parent .result .result-child .directorypath .showingresult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.result-parent .result .result-child .directorypath .showingresult img {
  margin: 10px;
}
.result-parent .result .result-child .actualresult {
  margin-top: 15px;
  height: 369px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
}
.result-parent .result .result-child .actualresult .firstchild,
.result-parent .result .result-child .actualresult .secondchild,
.result-parent .result .result-child .actualresult .thirdchild {
  padding: 15px;
}
.result-parent .result .result-child .actualresult .firstchild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
  border-bottom: 1px solid #d5d5d5;
}
.result-parent .result .result-child .actualresult .firstchild a {
  font-size: 14px;
  font-weight: 600;
}
.result-parent .result .result-child .actualresult .firstchild p {
  font-size: 13px;
  color: #787676;
  margin-top: 5px;
  margin-bottom: 0px;
}
.result-parent .result .result-child .actualresult .firstchild p a {
  text-decoration: underline;
  font-weight: normal;
  font-size: 13px;
  color: #464646;
}
.result-parent .result .result-child .actualresult .firstchild button {
  width: 50px;
  aspect-ratio: 16/9;
  padding: 6px 8px;
  background-color: #fff;
  border-top-left-radius: 50vw;
  border-bottom-left-radius: 50vw;
  border: 1px solid #d5d5d5;
  margin-right: -16px;
}
.result-parent .result .result-child .actualresult .secondchild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-bottom: 1px solid #d5d5d5;
}
.result-parent .result .result-child .actualresult .secondchild .rentinfo {
  width: 33.3333333333%;
  padding: 3px 10px;
  text-align: center;
  color: #464646;
}
.result-parent .result .result-child .actualresult .secondchild .rentinfo div:first-child {
  font-size: 14px;
  font-weight: 600;
}
.result-parent .result .result-child .actualresult .secondchild .rentinfo div:last-child {
  font-size: 11px;
}
.result-parent .result .result-child .actualresult .thirdchild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}
.result-parent .result .result-child .actualresult .thirdchild .imagecontainer {
  width: 36%;
  height: 180px;
  background-color: crimson;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer {
  width: 64%;
  height: 180px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo {
  width: 100%;
  height: calc(100% - 55px);
  border: 3px double #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo hr {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d5d5d5;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo .sections {
  width: 50%;
  font-size: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo .sections .sectioninfo {
  margin-left: 15px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo .sections .sectionimg {
  margin-left: 5px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo .sections .sectioninfo div:first-child {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .roominfo .sections .sectioninfo div:last-child {
  margin-top: 4px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .ownerinfo {
  margin-top: 13px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .ownerinfo button {
  padding: 7px 15px;
  outline: 1px solid #d5d5d5;
  color: black;
  width: 15%;
  border: none;
}
.result-parent .result .result-child .actualresult .thirdchild .infocontainer .ownerinfo button:first-child {
  padding: 7px 25px;
  border: none;
  background-color: #e3324a;
  color: #ffffff;
  font-weight: 600;
  width: 70%;
}
.result-parent .result .result-child .actualresult:hover {
  box-shadow: rgba(0, 0, 0, 0.157) 0px 2px 6px 0px, rgba(0, 0, 0, 0.118) 0px 1px 6px 0px;
}
.result-parent .quicklinkbar {
  width: 180px;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.result-parent .quicklinkbar .quicklink-card {
  background-color: #ffffff;
  padding: 10px;
  font-size: 16px;
}
.result-parent .quicklinkbar .quicklink-card p {
  font-size: 12px;
  color: #464646;
  margin-bottom: 5px;
}
.result-parent .quicklinkbar .quicklink-card .quicklink-heading {
  color: #e3324a;
  font-size: 16px;
  margin-bottom: -8px;
}
.result-parent .quicklinkbar .quicklink-card ul li {
  font-size: 12px;
  color: #787676;
  margin-left: -10px;
  margin-top: 10px;
}
.result-parent .quicklinkbar img {
  width: 101%;
}/*# sourceMappingURL=App.css.map */